<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Configuraciones estándar -->
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>LumorahAI</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.lumorah.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>LumorahAI</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.949136826033-t8qlmk4g0rvbrl2vr1l89441at29b81v</string>
                <string>fb989413823307809</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- Permisos de segundo plano -->
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.lumorah.app.task.refresh</string>
    </array>

    <!-- Facebook -->
    <key>FacebookAppID</key>
    <string>989413823307809</string>
    <key>FacebookClientToken</key>
    <string>c57612fe75b4dfda4b11f1d6e195d922</string>
    <key>FacebookDisplayName</key>
    <string>LumorahAI</string>

    <!-- Seguridad y red -->
    <key>keychain-access-groups</key>
    <array>
        <string>$(AppIdentifierPrefix)com.lumorah.app</string>
    </array>

    <!-- URL Schemes permitidos -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>https</string>
        <string>http</string>
        <string>tel</string>
        <string>mailto</string>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <!-- Permisos del sistema -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>elevenlabs.io</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSTemporaryExceptionMinimumTLSVersion</key>
                <string>TLSv1.2</string>
            </dict>
        </dict>
    </dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>Se necesita acceso para reproducir respuestas de audio de la IA.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Se necesita acceso a la red local para conectar con las herramientas de depuración durante el desarrollo.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Esta aplicación necesita acceso al micrófono para grabar audio y habilitar el reconocimiento de voz.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Esta aplicación necesita acceso al reconocimiento de voz para transcribir lo que dices.</string>

    <!-- Interfaz de usuario -->
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
        <string>audio</string>
        <string>processing</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
